{% block head %}
<title>View Profile</title>
{% endblock %}



{% block body %} 
<a href="{{ url_for('find_homes') }}" class="list-group-item-info list-group-item list-group-item-action text-center">Homepage</a>

   <table border=1  rules=column >
       <tr>
           <th>HOUSE ID</th>
           <th>NAME</th>
           <th>Gender</th>
           <th>EMAIL</th>
           <th>Phone</th>
       </tr>
       <br>
       <br>
       {% for rows in profile %}

            {% if rows[0] != '' %}

                <tr align="center">
                    <td> {{rows[0]}}</a>  </td>
                    <td> {{rows[1]}} </td>
                    <td> {{rows[2]}} </td>
                    <td> {{rows[3]}} </td>
                    <td> {{rows[4]}} </td>    
                </tr>

             {% endif %}


       {% endfor %}
   </table>
   {% endblock %}
