{% extends 'base.html' %}

<!-- {% block head %}
 <title>Login</title>
 <script type="text/javascript" >
  function preventBack(){window.history.forward();}
   setTimeout("preventBack()", 0);
   window.onunload=function(){null};
</script>
 {% endblock %} -->

{% block body %} 



<div class="card bg-warning text-dark text-left align-middle bg-seccondary" style="width: 20rem; height: 19rem; margin: 130px 0 0 470px; ">
    <div class="card-body ">
      <h5 class="card-title text-center">Admin Login</h5>

    <form action='/adminLogin' method= 'POST'>
        {{form.hidden_tag()}}
        {{form.username.label}}<br>
        {{form.username}}<br>
        {{form.password.label}}<br>
        {{form.password}}<br>    
        <br>
        {{form.submit}}
    </form>

    </div>
    {{data}}
    {{error}}<br>
    <a href="{{ url_for('Home') }}">Homepage</a>

  </div>




 {% endblock %}